.dev {
	background-color:#FFFFDF;
	color:#4f4f4f;
	padding:5px;
}

body,div {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: black;
}
a, .alink {
	text-decoration: none; 
	color:#006CB7;
}
a:hover, .alink:hover {
	color:#07436F;
}

form div {
	margin-bottom: 5px;	
	margin-top: 5px;	
}

div.titel {
	padding: 2px 5px 2px 5px;
	background-color: #AFAFAF;
	color:#FFFFFF;	
}

.suffixiconsmall {
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 21px;
}

ul.formlist {
	padding-left:5px;
}
ul.formlist li {
	margin-bottom:10px;
	padding-left:15px;
	list-style: none;
    background-image: url("../images/form-list-style.png");
	background-repeat: no-repeat;
	background-position: 0 center;
}

table.result div.result {
	padding: 3px 3px 1px 3px;
	width:200px;
	border: solid 1px #aaa;
	b_ackground-color: #fafafa;
	margin-right: 10px;
	margin-bottom: 10px;
	min-height: 18px;
}

div.freigabeStatus {
	padding: 3px 3px 1px 6px;
	margin-right: 10px;
	margin-bottom: 10px;
	min-height: 18px;
}

table.result td.label {
	padding-top:4px;
	padding-right:5px;
	vertical-align:top;
	font-size: 0.8em;
	color:#666;
}
table.result td.value {
	vertical-align:top;
}
/* ######################### Zuständigkeit ######################### */ 

ul.formlist li.akzeptieren, ul.formlist li.automatisch, ul.formlist li.manuell {
	padding-top:2px;
	padding-bottom:2px;
	margin-top:4px;
	margin-bottom:4px;
	background-position: 5px center;
	padding-left: 20px;
}
li.akzeptieren {
	background-color:#E6F4EB;
}
li.automatisch {
	background-color:#E6E6F4;
}
li.automatisch.reset {
	background-color:#F2E6E6;
}
li.manuell {
	background-color:#F4F0E6;
}

/* ######################### OpenLayers ######################### */ 
div.olControlEditingToolbar div.olControlDrawFeaturePointItemInactive {
	background-position: 0 0;
	background-image: url("../images/openLayers_PositionEinzeichnen_disabled.png");	
}
div.olControlEditingToolbar div.olControlDrawFeaturePointItemActive {
	background-position: 0 0;
	background-image: url("../images/openLayers_PositionEinzeichnen_enabled.png");	
}

div.olControlEditingToolbar div.olControlNavigationItemInactive {
	background-position: 0 0;
	background-image: url("../images/openLayers_KarteVerschieben_disabled.png");	
}
div.olControlEditingToolbar div.olControlNavigationItemActive {
	background-position: 0 0;
	background-image: url("../images/openLayers_KarteVerschieben_enabled.png");	
}

div.olControlEditingToolbar div.olControlZoomOutItemInactive {
	background-position: 0 0;
	background-image: url("../images/openLayers_ZoomOut_disabled.png");	
}
div.olControlEditingToolbar div.olControlZoomOutItemActive {
	background-position: 0 0;
	background-image: url("../images/openLayers_ZoomOut_enabled.png");	
}

div.olControlEditingToolbar div.olControlZoomInItemInactive {
	background-position: 0 0;
	background-image: url("../images/openLayers_ZoomIn_disabled.png");	
}
div.olControlEditingToolbar div.olControlZoomInItemActive {
	background-position: 0 0;
	background-image: url("../images/openLayers_ZoomIn_enabled.png");	
}

div.olControlEditingToolbar div.olControlZoomBoxItemInactive {
	background-position: 0 0;
	background-image: url("../images/openLayers_ZoomToSelection_disabled.png");	
}
div.olControlEditingToolbar div.olControlZoomBoxItemActive {
	background-position: 0 0;
	background-image: url("../images/openLayers_ZoomToSelection_enabled.png");	
}

div.olControlEditingToolbar div.olControlZoomToMaxExtentItemInactive {
	background-position: 0 0;
	background-image: url("../images/openLayers_ZoomToMaxExtent_disabled.png");	
}
div.olControlEditingToolbar div.olControlZoomToMaxExtentItemActive {
	background-position: 0 0;
	background-image: url("../images/openLayers_ZoomToMaxExtent_enabled.png");	
}

div.olControlEditingToolbar div.olControlNavigationHistoryPreviousItemInactive {
	background-position: 0 0;
	background-image: url("../images/openLayers_ZoomZurueck_disabled.png");	
}
div.olControlEditingToolbar div.olControlNavigationHistoryPreviousItemActive {
	background-position: 0 0;
	background-image: url("../images/openLayers_ZoomZurueck_enabled.png");	
}

div.olControlEditingToolbar div.olControlNavigationHistoryNextItemInactive {
	background-position: 0 0;
	background-image: url("../images/openLayers_ZoomVor_disabled.png");	
}
div.olControlEditingToolbar div.olControlNavigationHistoryNextItemActive {
	background-position: 0 0;
	background-image: url("../images/openLayers_ZoomVor_enabled.png");	
}
div.olControlLayerSwitcher {
	margin-top:20px;	
}
.baseLbl, .dataLbl, .dataLayersDiv, .olControlDrawFeaturePathItemInactive, .olControlDrawFeaturePolygonItemInactive {
	display:none;
}
div.olControlLayerSwitcher div.layersDiv {
    background-color: white;
	-moz-border-radius-bottomleft:10px; /* Mozilla */
	-moz-border-radius-topleft:10px;  /* Mozilla */
	-webkit-border-bottom-left-radius:10px; /* Webkit */
	-webkit-border-top-left-radius:10px;  /* Webkit */
	-khtml-border-radius-bottomleft:10px; /* KHTML */
	-khtml-border-radius-topleft:10px;  /* KHTML */
	border-bottom-left-radius:10px; /* Opera */
	border-top-left-radius:10px;  /* Opera */
	opacity:0.9;filter:alpha(opacity=90)
}
div.olControlLayerSwitcher div.layersDiv div{
	opacity:1.0;filter:alpha(opacity=100)
}
.olMapViewport {
	border: 1px solid #AAAAAA;	
}
div.olControlEditingToolbar {
	width: 300px;	
}

div.olLayerDiv svg g g image {
	cursor:pointer;
}

/* ######################### Selector ######################### */ 
.selector {
	position:relative;
	width:200px;
}
.selector .selectorValues {
	position: absolute;
	margin-top:-3px;
	z-index: 1010;
	border: 1px solid #AAAAAA;
    font-family: Verdana,sans-serif;
    font-size: 12px;
	background-color: #FFFFFF;
}
.selector .selectorLink {
    cursor: default;
}
.selector .selectorValues div {
    color: #164194;
    margin: 3px;
    padding: 1px;
    cursor: default;
}
.selector .selectorValues div:hover {
    color: #FFFFFF;
	background-color: #3399FF;
}
/* ######################### Fieldset ######################### */ 
.fieldset {
    border: 1px solid #AAAAAA;
	/* abgerundete Ecken */
    -moz-border-radius:5px; /* Mozilla */
	-webkit-border-radius:5px; /* Webkit */
	-khtml-border-radius:5px; /* KHTML */
	border-radius:5px; /* Opera */
	/* Schatten */
	-moz-box-shadow:2px 2px 2px #ccc; /* Mozilla */
	-webkit-box-shadow:2px 2px 2px #ccc; /* Webkit */
	-o-box-shadow:2px 2px 2px #ccc; /* Opera */
	margin-bottom: 10px;
	padding:10px;
}
.fieldset .fieldsettitle{
	/* Hintergrundfarbe */
	background-color:#AAAAAA; /* Fallback */
  	background: -moz-linear-gradient(top, #cccccc, #aaaaaa); /* Mozilla */
  	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#aaaaaa)); /* Webkit */
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#cccccc', EndColorStr='#aaaaaa', GradientType=0); /* IE */
	padding: 2px 2px 2px 4px; 
	margin:-10px -10px 10px -10px;
	color: white;
}
.subtitle {
	margin:20px -10px 10px -10px;
	padding: 2px 10px 2px 10px;
	background-color:#bbbbbb;
}
.closepanel{
	cursor: pointer;	
}
.closepanel div{
	color: white;
}
.fieldsettitle.closepanel .icon {
	float:right;
	margin-top:-14px;
	margin-right:5px;
	background-image: url("../images/togglepanel.png");	
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
	
}

.fieldsettitle.closepanel:hover{
	background-color:#BBBBBB; /* Fallback */
  	background: -moz-linear-gradient(top, #DDDDDD, #BBBBBB); /* Mozilla */
  	background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#BBBBBB)); /* Webkit */
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#DDDDDD', EndColorStr='#BBBBBB', GradientType=0); /* IE */
}

/* ######################### FORMULARFELDER ######################### */ 
label {
	width:100px;
	float:left;
	d_isplay:inline;
	vertical-align: middle;
	font-size: 0.8em;
	display: block;
	color:#666;
	padding-bottom: 2px;
}
.label {
	font-size: 0.8em;
	color:#666;
	padding-right: 5px;
}
.suche label{
    text-align:right;
	padding-right:5px;
	width:80px;
	padding-top: 5px;
}

textarea, .inputtext, select {
	color:#164194;
	font-family: Verdana,sans-serif;
    font-size: 12px;
    border: 1px solid #AAAAAA;
}
.inputfile {
    font-size: 12px;
	padding: 3px;
}
select:disabled {
	color: #cccccc;
}
textarea, .inputtext {
	padding: 3px;
	width:200px;
}
select {
	width:208px;	
	padding: 2px;
}

select option {
	padding:1px;
	margin:3px;
}
select option.info {
	color:#cccccc;
}

.watermark {
	color:#666;
}

.forminfo {
	font-size: 0.8em;
	color:#666;
}
form.suche label {
	padding-right: 5px;
	padding-top: 5px;
	text-align: right;	
}
/* ######################### FORMULARFEHLER ######################### */
select.error {
	border:1px solid #FF0000;
}
label.error, div.error {
	color:red;
}

/* #########################  ERGEBNISTABELLE ######################### */
table.resulttable {
	padding-top: 10px;
	padding-bottom: 20px;
}

table.resulttable td,table.resulttable th {
	padding: 2px 5px 2px 5px;
	border: 0px;
}

table.resulttable tbody tr {
	background-color: #FFFFFF;
}

table.resulttable tbody tr:nth-child(odd) {
	
	background-color: #FFFFFF;
}

table.resulttable tbody tr:nth-child(even) {
	
	background-color: #E0E9EF;
}

table.resulttable tbody tr:hover {
	color:#ffffff;
	_background-color: #82B0D2;
	background-color: #006CB8;
}
table.resulttable tbody tr span.time {
	font-size:0.8em; 
	color:#666;
}
table.resulttable tbody tr:hover span.time {
	color:#eee;
}
table.resulttable tbody tr td ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 14px;
	list-style-type: square;
	color:#AEAEAE;
}
table.resulttable tbody tr td ul li span {
	color:#000000;
}
table.resulttable tbody tr.missbrauchsmeldung:nth-child(odd), .missbrauchsmeldungLegende {
	background-color: #FFBD6F;
}

table.resulttable tbody tr.missbrauchsmeldung:nth-child(even) {
	background-color: #FFBD6F;
}

table.resulttable tbody tr.missbrauchsmeldung:hover {
	background-color: #DF9845;
}
table.resulttable th {
	font-size: 0.9em;
	text-align: center;
	font-weight: bold;
	background-color: #164194;
	color: #FFFFFF;
}
table.resulttable th.sortable {
	_padding-right: 15px;
	cursor: pointer;
	border-right:5px;
	background-repeat: no-repeat;
	background-position: center right;
}
table.resulttable th.sortable:hover {
	background-color: #941616;
}
table.resulttable th.sortable.desc {
	background-image: url("../images/sortDesc.png");
}
table.resulttable th.sortable.asc {
	background-image: url("../images/sortAsc.png");
}

table.resulttable tfoot td, div.pagination {
	padding-top:10px;
	font-size:11px;
	color:#777;
}
div.pagination a, div.pagination span.submit {
	font-size:1.1em;
	padding: 3px;
	color: #006CB7;
	cursor: pointer;
}
div.pagination a:hover, div.pagination span.submit:hover {
	background-color: #941616;
	color:#ffffff;
}
div.pagination span.nav{
	padding: 3px 6px 3px 6px;
	background-repeat: no-repeat;
	background-position: center;
}
div.pagination span.nav.enabled:hover {
	background-color: #941616;
}

/*div.pagination span.nav.first.enabled { background-image: url("../images/nav_first.png"); }
div.pagination span.nav.first.enabled:hover { background-image: url("../images/nav_first_hover.png"); }
div.pagination span.nav.first.disabled { background-image: url("../images/nav_first_disabled.png"); }
div.pagination span.nav.previous.enabled { background-image: url("../images/nav_previous.png"); }
div.pagination span.nav.previous.enabled:hover { background-image: url("../images/nav_previous_hover.png"); }
div.pagination span.nav.previous.disabled { background-image: url("../images/nav_previous_disabled.png"); }
div.pagination span.nav.next.enabled { background-image: url("../images/nav_next.png"); }
div.pagination span.nav.next.enabled:hover { background-image: url("../images/nav_next_hover.png"); }
div.pagination span.nav.next.disabled { background-image: url("../images/nav_next_disabled.png"); }
div.pagination span.nav.last.enabled { background-image: url("../images/nav_last.png"); }
div.pagination span.nav.last.enabled:hover { background-image: url("../images/nav_last_hover.png"); }
div.pagination span.nav.last.disabled { background-image: url("../images/nav_last_disabled.png"); }
*/

div.pagination span.nav.first.enabled { background-image: url("../images/go-first-enabled.png"); }
div.pagination span.nav.first.disabled { background-image: url("../images/go-first-disabled.png"); }
div.pagination span.nav.first.enabled:hover { background-image: url("../images/go-first-hover.png"); }
div.pagination span.nav.previous.enabled { background-image: url("../images/go-previous-enabled.png"); }
div.pagination span.nav.previous.enabled:hover { background-image: url("../images/go-previous-hover.png"); }
div.pagination span.nav.previous.disabled { background-image: url("../images/go-previous-disabled.png"); }
div.pagination span.nav.next.enabled { background-image: url("../images/go-next-enabled.png"); }
div.pagination span.nav.next.enabled:hover { background-image: url("../images/go-next-hover.png"); }
div.pagination span.nav.next.disabled { background-image: url("../images/go-next-disabled.png"); }
div.pagination span.nav.last.enabled { background-image: url("../images/go-last-enabled.png"); }
div.pagination span.nav.last.enabled:hover { background-image: url("../images/go-last-hover.png"); }
div.pagination span.nav.last.disabled { background-image: url("../images/go-last-disabled.png"); }

div.pagination span.nav.disabled {
	cursor: default;
}
div.pagination span.nav.enabled {
	cursor: pointer;
}
/* ######################### Kommentar ######################### */
.kommentar, .missbrauch {
    border: 1px solid #E0E0E0;
	margin-top: 20px;
	margin-left:10px;
	max-width: 500px;
	/* abgerundete Ecken */
    -moz-border-radius:5px; /* Mozilla */
	-webkit-border-radius:5px; /* Webkit */
	-khtml-border-radius:5px; /* KHTML */
	border-radius:5px; /* Opera */
	/* Schatten */
	-moz-box-shadow:0px 0px 2px #bbb; /* Mozilla */
	-webkit-box-shadow:2px 2px 2px #bbb; /* Webkit */
	-o-box-shadow:2px 2px 2px #bbb; /* Opera */
}

.missbrauch.offen {
}
.kommentar.even, .missbrauch.even {
	margin-left:20px;	
}

.kommentarHeader, .missbrauchHeader {
	/* abgerundete Ecken */
	-moz-border-radius-topright:5px; /* Mozilla */
	-moz-border-radius-topleft:5px;  /* Mozilla */
	-webkit-border-top-right-radius:5px; /* Webkit */
	-webkit-border-top-left-radius:5px;  /* Webkit */
	-khtml-border-radius-topright:5px; /* KHTML */
	-khtml-border-radius-topleft:5px;  /* KHTML */
	border-top-right-radius:5px; /* Opera */
	border-top-left-radius:5px;  /* Opera */
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.9em;
	color: gray;
	border-bottom: 1px solid #dddddd;
}
.missbrauch.offen .missbrauchHeader {
	background-color: #FFBD6F;
	
}

.kommentarText, .missbrauchText {
	padding: 5px 10px 5px 10px;
}

.verlauf {
	margin-top: 20px;	
}
.verlaufHeader {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 0.9em;
	color: gray;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 5px;
}
.verlaufText {
	margin-left: 25px;
	margin-right: 10px;
}

/* ######################### Foto ######################### */
.foto {
	b_ackground-color:#f8f8f8;
	background-image: url("../images/transparenz.png");
	
    border: 1px solid #AAAAAA;
	font-size: 0.8em;
	color:#666;
}
.foto.onclick {
	cursor: pointer;
}

/* ######################### Freigabestatusbutton ######################### */
.freigabestatusbutton button {
	margin-right: 4px;
	ma_rgin-bottom: 3px;
	width:25px;
	height:20px;
	padding-left: 3px;
}
.freigabestatusbutton button img {
	width:13px;
	height:13px;
}
/* ######################### Statistic ######################### */
.statistic_block_title {
	font-size: 12px;
	font-weight:bold;
	color: #AAAAAA; 	
	padding-bottom: 10px;
}
.statistic_count_block {
	width: 85px;
	height: 100px;
    border: 1px solid #AAAAAA;
	/* abgerundete Ecken */
    -moz-border-radius:5px; /* Mozilla */
	-webkit-border-radius:5px; /* Webkit */
	-khtml-border-radius:5px; /* KHTML */
	border-radius:5px; /* Opera */
	/* Schatten */
	-moz-box-shadow:2px 2px 2px #ccc; /* Mozilla */
	-webkit-box-shadow:2px 2px 2px #ccc; /* Webkit */
	-o-box-shadow:2px 2px 2px #ccc; /* Opera */
	margin-bottom: 10px;
	padding:10px;
	text-align: center;
	background-color: #EFF8FF;
}
.statistic_count_block_count {
	font-size: 20px;
	font-weight:bold;
	height: 45px;
	padding-top: 15px;	
}

.statistic_count_block_title {
	/* Hintergrundfarbe */
	background-color:#AAAAAA; /* Fallback */
  	background: -moz-linear-gradient(top, #cccccc, #aaaaaa); /* Mozilla */
  	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#aaaaaa)); /* Webkit */
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#cccccc', EndColorStr='#aaaaaa', GradientType=0); /* IE */
	padding: 2px 2px 2px 4px; 
	margin:6px -10px 0px -10px;
	color: white;
	font-size: 10px;
	height: 40px;
}


div.statistic_verteilung {
	margin-left:5px;
	margin-right:5px;
	margin-bottom: 10px;
	margin-top: 10px;	
}
div.statistic_verteilung table {
	height: 16px;
	width:100%;
    border: 1px solid #AAAAAA;
	/* abgerundete Ecken */
    -moz-border-radius:5px; /* Mozilla */
	-webkit-border-radius:5px; /* Webkit */
	-khtml-border-radius:5px; /* KHTML */
	border-radius:5px; /* Opera */
	/* Schatten */
	-moz-box-shadow:2px 2px 2px #ccc; /* Mozilla */
	-webkit-box-shadow:2px 2px 2px #ccc; /* Webkit */
	-o-box-shadow:2px 2px 2px #ccc; /* Opera */
	padding:1px;		
}
div.statistic_verteilung table td {
	height: 16px;
	background-repeat: repeat-x;
	padding: 0px 3px;
	text-align: center;
	vertical-align: top;
}
.statistic_verteilung_count {
	font-size: 11px;
	margin-top:-2px;
	font-weight: bold;
}
.statistic_verteilung_text {
	padding-top: 4px;
	font-size: 9px;
	color: #AAAAAA;
}
ul.statistic_vorgaenge img {
	padding-top: 2px;
	float: left;
	border: none;
}
ul.statistic_vorgaenge div {
	padding-left: 20px;
}
ul.statistic_vorgaenge li {
	list-style-type: none;
	padding: 5px 0px;
}
.statistic_link {
	margin-left:3px;
	margin-right:5px;
	margin-bottom: 10px;
	margin-top: 20px;	
	text-align: center;
}
.statistic_link a {
	display: block;
	width: 100%;
	color: white;
	padding: 10px 0px;
    border: 1px solid #AAAAAA;
    font-weight:bold;
	/* abgerundete Ecken */
    -moz-border-radius:5px; /* Mozilla */
	-webkit-border-radius:5px; /* Webkit */
	-khtml-border-radius:5px; /* KHTML */
	border-radius:5px; /* Opera */
	/* Schatten */
	-moz-box-shadow:2px 2px 2px #ccc; /* Mozilla */
	-webkit-box-shadow:2px 2px 2px #ccc; /* Webkit */
	-o-box-shadow:2px 2px 2px #ccc; /* Opera */
	/* Hintergrund */
	background-color:#AAAAAA; /* Fallback */
  	background: -moz-linear-gradient(top, #cccccc, #aaaaaa); /* Mozilla */
  	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#aaaaaa)); /* Webkit */
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#cccccc', EndColorStr='#aaaaaa', GradientType=0); /* IE */
}
.statistic_link a:hover {
	background-color:#5F96BF; /*Fallback */
  	background: -moz-linear-gradient(top, #99C1DF, #5F96BF); /* Mozilla */
  	background: -webkit-gradient(linear, left top, left bottom, from(#99C1DF), to(#5F96BF)); /* Webkit */
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#99C1DF', EndColorStr='#5F96BF', GradientType=0); /* IE */
}

.statistic_link a img {
	padding-bottom: 4px; 
	vertical-align: middle;
	padding-right: 2px;
	border: none;
}
.statistic_text {
	margin-left:5px;
	margin-right:5px;
	margin-bottom: 10px;
	margin-top: 20px;	
}
/* ######################### PRINT ######################### */ 
.printButtons {
	margin-top: 10px;
	margin-bottom: 20px;
}
.printTitle {
	font-weight: bold;
	font-size: 1.1em;
	margin-top: 10px;
	margin-bottom: 5px; 

}
/* ######################### globales Design ######################### */
#root_style_page {
    padding: 4px;
    max-width: 1200px;
	min-width: 800px;
}

#root_style_midle_right {
	margin-left: 150px;
}

#root_style_midle {
	margin-bottom: 10px;
	clear: both;
}

/* ######################### TOOLTIP ######################### */

span.show-tooltip-text { 
	display: none;  
	font-size:10px; 
	position:absolute; 
	background-color:#FFFFDF; 
	padding: 3px; 
	padding-left: 12px; 
	padding-right: 12px; 
	color: black; 
    border: 1px solid #AAAAAA;
	/* abgerundete Ecken */
    -moz-border-radius:5px; /* Mozilla */
	-webkit-border-radius:5px; /* Webkit */
	-khtml-border-radius:5px; /* KHTML */
	border-radius:5px; /* Opera */
	/* Schatten */
	-moz-box-shadow:2px 2px 2px #ccc; /* Mozilla */
	-webkit-box-shadow:2px 2px 2px #ccc; /* Webkit */
	-o-box-shadow:2px 2px 2px #ccc; /* Opera */

}

/* ######################### HEADER ######################### */
#root_style_header {
	margin-bottom: 10px;
	padding:24px 20px 18px 20px;
	color:#96D3FF;
	font-size:14px;
	font-weight:bold;
	clear: both;
	background-image: url("../images/header.png");
	background-repeat: repeat-x;
	/* abgerundete Ecken */
	-moz-border-radius-topright:5px; /* Mozilla */
	-moz-border-radius-topleft:5px;  /* Mozilla */
	-webkit-border-top-right-radius:5px; /* Webkit */
	-webkit-border-top-left-radius:5px;  /* Webkit */
	-khtml-border-radius-topright:5px; /* KHTML */
	-khtml-border-radius-topleft:5px;  /* KHTML */
	border-top-right-radius:5px; /* Opera */
	border-top-left-radius:5px;  /* Opera */
}

/* ######################### FOOTER ######################### */
#root_style_footer {
	padding: 4px;
	padding-right: 4px;
	clear: both;
	text-align: right;
	background-color:#DFF1FF;
	/* abgerundete Ecken */
	-moz-border-radius-bottomright:5px; /* Mozilla */
	-moz-border-radius-bottomleft:5px;  /* Mozilla */
	-webkit-border-bottom-right-radius:5px; /* Webkit */
	-webkit-border-bottom-left-radius:5px;  /* Webkit */
	-khtml-border-radius-bottomright:5px; /* KHTML */
	-khtml-border-radius-bottomleft:5px;  /* KHTML */
	border-top-right-radius:5px; /* Opera */
	border-top-left-radius:5px;  /* Opera */
	/* Schatten */
	-moz-box-shadow:2px 2px 2px #ccc; /* Mozilla */
	-webkit-box-shadow:2px 2px 2px #ccc; /* Webkit */
	-o-box-shadow:2px 2px 2px #ccc; /* Opera */
}
#root_style_footer table {
	width:100%;
	font-size: 0.8em;
}
#root_style_footer table td {
	width:33%;
	vertical-align:top;
}
#root_style_footer_login {
	text-align:left;
	padding-left:20px;
}
#root_style_footer_version {
	text-align:center;
}
#root_style_footer_by {
	text-align:right;
	padding-right:20px;
}

/* ######################### MENU ######################### */
#root_style_menu {
	margin-right: 10px;
	margin-bottom: 10px;
	width: 130px;
	float: left;
    padding:40px 0px 0px 0px;
    min-height: 400px;
}

#root_style_menu ul {
    border-top: 1px solid #c0c0c0;
	margin: 0px 0px 30px 0px;
	padding:0px;
}

#root_style_menu ul li {
	display: block;
	list-style-type: none;
	border-bottom: 1px solid #c0c0c0;
    font-size: 1.0em;
	font-family: Verdana, Helvetica, sans-serif;
}
#root_style_menu ul li:hover {
	background-color:#f1efef;
}
#root_style_menu ul li.active {
	background-color:#941616;
}
#root_style_menu ul li.active a {
    background-image: url("../images/menu-list-style_2.png");
	color:white;
}

#root_style_menu ul li div {

}
#root_style_menu ul li a {
	display:block;
	width: 110px;
	padding: 0 0 0 20px;
	line-height:24px;
    background-image: url("../images/menu-list-style.png");
	background-repeat:no-repeat;
	background-position:6px 50%;
	color:black;
}

/* ######################### TABMENU ######################### */
#root_style_tabmenu {
	overflow: hidden;
	margin-bottom: 1px;
    padding:0px;
    border-bottom: 4px solid #DFF1FF;
}
#root_style_tabmenu ul {
	overflow: hidden;
	margin: 0px;
	padding:0px;
	background-color:white;
}
#root_style_tabmenu ul li {
	display: inline;
	list-style-type: none;
    margin:0px;
    float:left;
    border-right: 2px solid #fff;
	color: white;
	font-size: 1.0em;
	font-family: Verdana, Helvetica, sans-serif;
	/* Hintergrundfarbe */
	background-color:#006CB7; /* Fallback */
  	background: -moz-linear-gradient(top, #61A9DF, #006CB7); /* Mozilla */
  	background: -webkit-gradient(linear, left top, left bottom, from(#61A9DF), to(#006CB7)); /* Webkit */
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#61A9DF', EndColorStr='#006CB7', GradientType=0); /* IE */
	/* abgerundete Ecken */
  	-moz-border-radius-topright:5px; /* Mozilla */
	-moz-border-radius-topleft:5px;  /* Mozilla */
	-webkit-border-top-right-radius:5px; /* Webkit */
	-webkit-border-top-left-radius:5px;  /* Webkit */
	-khtml-border-radius-topright:5px; /* KHTML */
	-khtml-border-radius-topleft:5px;  /* KHTML */
	border-top-right-radius:5px; /* Opera */
	border-top-left-radius:5px;  /* Opera */
}
#root_style_tabmenu ul li d_iv {
}
#root_style_tabmenu ul li a, #root_style_tabmenu ul li span {
	line-height: 24px;
	padding:5px 15px 5px 15px;
	color: white;
}
#root_style_tabmenu ul li span {
	cursor:default;
}
#root_style_tabmenu ul li.extra {
	background-color: white;
  	background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF); /* Mozilla */
  	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF)); /* Webkit */
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#FFFFFF', GradientType=0); /* IE */
}
#root_style_tabmenu ul li.extra a {
	color:#006CB7;
}
#root_style_tabmenu ul li.extra.link:hover a, #root_style_tabmenu ul li.active.link:hover a{
	color: white;
}
#root_style_tabmenu ul li.link:hover, #root_style_tabmenu ul li.active.link:hover {
	/* Hintergrundfarbe */
	background-color:#5F96BF; /*Fallback */
  	background: -moz-linear-gradient(top, #99C1DF, #5F96BF); /* Mozilla */
  	background: -webkit-gradient(linear, left top, left bottom, from(#99C1DF), to(#5F96BF)); /* Webkit */
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#99C1DF', EndColorStr='#5F96BF', GradientType=0); /* IE */
}
#root_style_tabmenu ul li.active {
	/* Hintergrundfarbe */
	background-color:#DFF1FF;
  	background: -moz-linear-gradient(top, #EFF8FF, #DFF1FF);
  	background: -webkit-gradient(linear, left top, left bottom,from(#EFF8FF), to(#DFF1FF));
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#EFF8FF', EndColorStr='#DFF1FF', GradientType=0); /* IE */
}
#root_style_tabmenu ul li.active a, #root_style_tabmenu ul li.active span {
	color:#006CB7;
}

/* ######################### CONTENT TITLE ######################### */
#root_style_content_title {
	color:#006CB7;
	font-size:1.5em;
	margin-bottom: 10px;
}

/* ######################### ITEMINFO ######################### */
#root_style_item_info {
	background-color:#EFF8FF;
	/* abgerundete Ecken */
    -moz-border-radius-bottomright:5px; /* Mozilla */
	-moz-border-radius-bottomleft:5px;  /* Mozilla */
	-webkit-border-bottom-right-radius:5px; /* Webkit */
	-webkit-border-bottom-left-radius:5px;  /* Webkit */
	-khtml-border-radius-bottomright:5px; /* KHTML */
	-khtml-border-radius-bottomleft:5px;  /* KHTML */
	border-bottom-right-radius:5px; /* Opera */
	border-bottom-left-radius:5px;  /* Opera */
	/* Schatten */
	-moz-box-shadow:2px 2px 2px #ccc; /* Mozilla */
	-webkit-box-shadow:2px 2px 2px #ccc; /* Webkit */
	-o-box-shadow:2px 2px 2px #ccc; /* Opera */
}
#root_style_item_info tr {
	padding:10px;
	font-size: 0.8em;
	text-align: center;
}
#root_style_item_info tr span {
	padding-right:10px;
	padding-left:10px;
}
/* ######################### CONTENT ######################### */
#root_style_content {
	margin-top:10px;
	background-color:#F0F0F0;
    min-height: 350px;
    padding: 10px;
	/* abgerundete Ecken */
    -moz-border-radius:5px; /* Mozilla */
	-webkit-border-radius:5px; /* Webkit */
	-khtml-border-radius:5px; /* KHTML */
	border-radius:5px; /* Opera */
	/* Schatten */
	-moz-box-shadow:2px 2px 2px #ccc; /* Mozilla */
	-webkit-box-shadow:2px 2px 2px #ccc; /* Webkit */
	-o-box-shadow:2px 2px 2px #ccc; /* Opera */
}

/* ######################### HELP ######################### */
#root_style_help {
	color: #777777;
	font-size:0.9em;
	margin-top:10px;
	background-color:#EFF8FF;
    min-height: 20px;	
    padding: 10px 20px 10px 10px;
	/* abgerundete Ecken */
	-moz-border-radius:5px; /* Mozilla */
	-webkit-border-radius:5px; /* Webkit */
	-khtml-border-radius:5px; /* KHTML */
	border-radius:5px; /* Opera */
	/* Schatten */
	-moz-box-shadow:2px 2px 2px #ccc; /* Mozilla */
	-webkit-box-shadow:2px 2px 2px #ccc; /* Webkit */
	-o-box-shadow:2px 2px 2px #ccc; /* Opera */
}
p.help, ul.help {
	color: #777777;
	font-size:0.9em;
}


/* ######################### FIELDSET ######################### */ 
fieldset {
	/* abgerundete Ecken */
	-moz-border-radius:5px; /* Mozilla */
	-webkit-border-radius:5px; /* Webkit */
	-khtml-border-radius:5px; /* KHTML */
	border-radius:5px; /* Opera */
	b_ackground-color: white;
}

#ui-datepicker-div {
	font-size:0.9em;
}
	 